<a href="https://colab.research.google.com/github/esaukova/Python_classes/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%A6%D0%9A_PY100_%D0%A2%D0%B5%D0%BC%D0%B0_2_%D0%91%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5_%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%BD%D1%8B%D0%B5_%D1%82%D0%B8%D0%BF%D1%8B_%D1%8F%D0%B7%D1%8B%D0%BA%D0%B0_Python_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Тема 2. Базовые объектные типы языка Python.

## Обзор и особенности работы с простыми типами данных в Python

### Иерархическая структура типов данных языка Python.

К основным [типам данных](https://docs.python.org/3/library/stdtypes.html) можно отнести:
- пустое значение
- целые числа
- числа с плавающей запятой
- логические (булевы) значения
- строки
- списки
- словари

Важно представлять каким функционалом обладают эти типы данных.  
Если вы забыли или захотите со временем узнать что-то новое,  
то всегда можете обратиться к документации.

Типы данных делятся на
- встроенные (**built-in**);
- пользовательские.

Основные типы, которыми пользуется практически любой программист,  
являются встроенными. Давайте посмотрим на них в таблице

![https://drive.google.com/file/d/17SbSx3zrpQvJb3rYPNGGm3veCrDBxma9/view?usp=sharing](https://drive.google.com/uc?id=17SbSx3zrpQvJb3rYPNGGm3veCrDBxma9)

Типы данных также можно сгруппировать по следующим признакам:
- **Первый признак**
    - Простые типы данных
    - Составные типы данных

- **Второй признак**
    - Изменяемые
    - Неизменяемые

![](https://upload.wikimedia.org/wikipedia/commons/1/10/Python_3._The_standard_type_hierarchy.png)

#### Callable - вызываемый тип данных

Итак, первое с чего мы начнем изучение это [встроенные команды](https://docs.python.org/3/library/functions.html).  
Их не нужно знать наизусть.  

С частью возможно вы не столкнетесь,  
а какие-то будет использоваться очень часто, например:
- **`help()`**;
- **`print()`**;
- **`input()`**;
- **`len()`**;
- **`min()`**/**`max()`**;
- **`type()`**.

Обратите внимание, что сначала идет название команды, а после круглые скобки.  
Так вот наличие круглых скобок является **призывом к действию** для интерпретатора.

Чтобы узнать тип какой-то переменной в Python есть встроенная команда **`type`**.  

Синтаксис команды **`type`**:
```python
type(variable)
```
где **`variable`** - некоторая переменная или значение

In [ ]:
type(print)  # встроенная функция или метод

builtin_function_or_method

In [ ]:
help(print)  # получить документацию на любой объект, если она есть

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print(type(len))

<class 'builtin_function_or_method'>

В рамках нашего курса **class** будет равнозначно **типу данных**.

### Динамическая типизация: особенности, преимущества и недостатки.

**Python - язык с неявной сильной динамической типизацией**.

Разберем это определение по отдельным кусочкам.

**Динамическая типизация** означает, что тип переменной определяется  
во время выполнения программы (интерпретации).  
Во время работы вашей программы сначала одна переменная может содержать  
в себе целочисленное значение, а потом строку.

In [ ]:
a = 1
print(a)

a = 'новое значение переменной а'
print(a)

1
новое значение переменной а

С точки зрения интерпретатора в этом нет никакой ошибки.  

А вот с другой точки зрения такое не явное изменение типа данных может  
запутать, тех кто будет читать ваш код и вникать в его логику.

**Сильная типизация** говорит о том, что операции, совершаемые  
над объектами разного типа выполняются без **автоматического неявное преобразование к одному типу** .  
Например, Python вызовет ошибку, если мы попытаемся сложить число и строку.

```python
5 + 'str'  # TypeError: unsupported operand type(s) for +: 'int' and 'str'
```

И наконец **неявная типизация** нам говорит о том,  
что тип переменной при ее объявлении не нужно указывать.

```python
some_var = 1
other_var = 'Hello World'
```

### Пустое значение - `None`

In [ ]:
foo = None  # присваиваем значение переменной

print(foo)  # распечатываем значение переменной
print(type(foo))  # распечатываем тип переменной

None
<class 'NoneType'>

### Логические переменные - `bool`

Логических переменные имеют всего два значения:
- `True`
- `False`

In [ ]:
True_ = True  # 1
false = False  # 0

print(True_, false)
print(type(True_), type(false))

True False
<class 'bool'> <class 'bool'>

### Целые числа

Объекты типа **`int`** предназначены для хранения целочисленных данных.

Создание такой переменной не требует особой записи - необходимо  
только присвоить целое число этой переменной.

In [ ]:
a = 1
b = 0
c = -1

# функция print умеет принимать несколько значений через запятую и печатать их в одну строку
print(a, type(a))
print(b, type(b))
print(c, type(c))

1 <class 'int'>
0 <class 'int'>
-1 <class 'int'>

### Арифметические операторы

![](https://drive.google.com/uc?id=1ivd7rIbhu9D6HNcVeIGvO8pBCNdoq6Q7)

#### **Сложение**, **Вычитание**, **Умножение**, **Возведение в степень**

In [ ]:
add = 5 + 5
print(add)  # 10
print(type(add))  # <class 'int'>

10
<class 'int'>

In [ ]:
sub = 10 - 5
print(sub)  # 5
print(type(sub))  # <class 'int'>

5
<class 'int'>

In [ ]:
mul = 5 * 5
print(mul)  # 25
print(type(mul))  # <class 'int'>

25
<class 'int'>

In [ ]:
pow_ = 5 ** 2
print(pow_)
print(type(pow_))

25
<class 'int'>

Арифметические операторы, как и оператор присваивания  
рекомендуют отделять пробелами.

##### ***Задача***

Найти периметр прямоугольной комнаты со сторонами 6 и 3 метра.

In [ ]:
# первый вариант решения
length = 6
width = 3

perimeter = (length + width) * 2
print(perimeter)

18

In [ ]:
# второй вариант решения
perimeter = (6 + 3) * 2
print(perimeter)

18

Первый вариант предпочтительнее, потому что нет,  
так называемых "магических чисел".  
"Магическими числами" называют плохую практику программирования,  
когда в исходном тексте встречается числовое значение и неочевиден его смысл.

#### **Целочисленное деление и остаток от деления**

![](https://habrastorage.org/getpro/habr/post_images/533/366/a02/533366a02b7640b5aeb2b09679915fd8.png)

##### ***Задача***

Сколько полных дней и часов в 5000 часах?

In [ ]:
HOURS_IN_DAY = 24  # количество часов в дне постоянно
total_hours = 5000  # дано по задаче

days = total_hours // HOURS_IN_DAY
hours = total_hours % HOURS_IN_DAY

print("Количество дней =", days)
print("Оставшееся количество часов =", hours)

Количество дней = 208
Оставшееся количество часов = 8

#### Комбинированные операторы присваивания

![](https://drive.google.com/uc?id=10J9HqAE4PTSWHRux_ImzuemyQt25lYXY)

##### ***Задача***

Изначально на счету было 10000 у.е.  
После выплаты процентов сумма увеличалась на 5000 у.е.  
Чему станет равно количество средств после выплаты процентов?

In [ ]:
money = 10000
add = 5000

money += add  # money = money + add

print(money)

15000

### Числа с плавающей запятой

Под числами с плавающей запятой в Python подразумеваются дробные числа.  
Ещё их могут называть вещественные числа.

А сам термин "плавающая запятая" (или ещё говорят "плавающая точка")  
происходит от особенностей хранения таких чисел в памяти компьютера.

Создание переменных с дробными числами практически ничем  
не отличается от создания целых чисел.  
Только в качестве десятичного разделителя выступает **точка**, а не запятая.

In [ ]:
a = 0.1
b = 0.0
c = -10.312312

print(a, type(a))
print(b, type(b))
print(c, type(c))

0.1 <class 'float'>
0.0 <class 'float'>
-10.312312 <class 'float'>

#### **"Честное" деление**

In [ ]:
div = 5 / 10
print(div)
print(type(div))

0.5
<class 'float'>

In [ ]:
integer_div = 10 / 5
print(integer_div)
print(type(integer_div))

2.0
<class 'float'>

In [ ]:
print(1 / 6)  # бесконечная десятичная дробь

0.16666666666666666

***Примечание:***

При делении вы в любом случае получаете число с плавающей запятой,  
даже если оно делится нацело без остатка.

#### Особенности работы с вещественными числами

Вещественные числа поддерживают те же операции, что и целые.

In [ ]:
# чему будет равен результат?
print(0.1 + 0.1 * 5)

0.6

Давайте сложим 10 раз число 0.1 ...

In [ ]:
float_ = 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1
print(float_)

0.9999999999999999

In [ ]:
print(0.1 * 10)

1.0

***Примечание:***

Для высокой точности используют другие типы данных **`Decimal`** или **`Fraction`**.  
Устройство и работа с этими типами данных выходит за рамки нашего курса.  
Почитать про устройства чисел с плавающей запятой можно [здесь](https://habr.com/ru/post/337260/ ).

#### Команда **`round`**

```python
round(number[, ndigits=0])
```

Команда **`round`** принимает два значения:
- **number** - число, которое необходимо округлить;
- **ndigits** - количество знаков после запятой (необязательное значение).

***Примечание:***

Здесь и далее если какие-то значения указаны в квадратных скобках,  
то их можно не указывать, потому что для них установлено значение по умолчанию.

Округление до целого

In [ ]:
a = 1.6
a = round(a)

print(a)
print(type(a))

2
<class 'int'>

Округление до одного знака

In [ ]:
a = 2.47
a = round(a, 1)

print(a)
print(type(a))

2.5
<class 'float'>

## Обзор и особенности работы с составными типами данных в Python

Составные типы данных (контейнеры) - это такой тип переменных,  
которые могут хранить в себе сразу несколько значений.

### Индексируемые последовательности (sequence)

К последовательностям в Python относят:
- Строки (**`str`**)
- Списки (**`list`**)
- Кортежи (**`tuple`**)

***Примечание:***
Ещё существуют **`bytes`** и **`byte arrays`**,  
но они встречаются не так часто и выходят за рамки нашего рассмотрения.

Последовательности поддерживают индексацию, то есть получение  
какого-либо значения последовательности по индексу.

Единственный момент индексация начитается с 0.  
Это особенность языков программирования.
![](https://cs11.pikabu.ru/post_img/2018/12/07/3/1544153992124355275.jpg)

![https://app.diagrams.net/#G1BQ6Cd0yMZLkdACHp4W-o4aQQdIX3yy-F](https://drive.google.com/uc?id=1BQ6Cd0yMZLkdACHp4W-o4aQQdIX3yy-F)

Для того чтобы указать интерпретатору Python, что вы хотите  
воспользоваться индексацией, необходимо после последовательности  
указать квадратные скобки, в которых указать индекс элемента.  
Индекс должен быть **целым числом**.


```python
some_seq[index]  # обращение к элементу по индексу
some_seq[index] = "new_value"  # замена по индексу
```

In [ ]:
list_ = ["а", "б", "в", "г", "д"]  # список строк

print(list_[0])  # "а"
print(list_[4])  # "д"

а
д

In [ ]:
list_[0] = "А"
print(list_)  # ['А', 'б', 'в', 'г', 'д']

['А', 'б', 'в', 'г', 'д']

#### Отрицательная индексация

Python поддерживает **отрицательную индексацию**.  
Возможности все те же самые что и при обычной индексации,  
только обращение к элементам происходит с конца последовательности.

![https://app.diagrams.net/#G1iu1gLR05aivKBr47bN5NCrV1CCVxEu7t](https://drive.google.com/uc?id=1iu1gLR05aivKBr47bN5NCrV1CCVxEu7t)

##### ***Задача***

Получить последний символ строки.

In [ ]:
str_ = "Hello, World"

print(str_[-1])  # отрицательная индексация для получения элементов с конца последовательности

d

### Срезы

**Срезы** они же слайсирование (англ. slice) -  это альтернатива индексации,  
отличие в том, что передается два значения левая и правая граница,  
которые разделены между собой двоеточием.

Результатом слайсирования является тот же тип данных,  
к которому вы применяли слайсирование.

![https://app.diagrams.net/#G1v77d_925rUsxVNgb3NJ_h1Xf6v36Fvaf](https://drive.google.com/uc?id=1v77d_925rUsxVNgb3NJ_h1Xf6v36Fvaf)

##### ***Задача. Раздеделить список учеников на две половины.***

In [ ]:
list_players = ["Маша", "Петя", "Саша", "Оля", "Кирилл"]

# индекс середины
middle_index = len(list_players) // 2  # 2

left_team = list_players[:middle_index]  # list_players[:2]
right_team = list_players[middle_index:]  # list_players[2:]

print(left_team)
print(right_team)

['Маша', 'Петя']
['Саша', 'Оля', 'Кирилл']

### Изменяемые и неизменяемые объекты

**Переменная** - это именованая область памяти компьютера,  
адрес которой позволяет получить доступ к данным.

![](https://pythonchik.ru/pic/lb1/intext_1be28589-3503-4ee4-9594-306836be5b11_original.svg)

Типы данных в python делятся на:
- Неизменяемые - **immutable**.  
    Неизменяемые типы данных передаются **по значению**
- Изменяемые - **mutable**.  
    Изменяемые типы данных передаются **по ссылке**

In [ ]:
a = 123456
b = a

print("Переменные a и b это одно и то же?")
print(a is b)  # True
print(a, b)

a = a + 1  # изменим перемменную a
print("А теперь переменные a и b это одно и то же?")
print(a is b)  # False
print(a, b)  # 123457 123456

Переменные a и b это одно и то же?
True
123456 123456
А теперь переменные a и b это одно и то же?
False
123457 123456

In [ ]:
list_1 = ["а", "б", "в"]
list_2 = list_1

print("Переменные list_1 и list_2 это одно и то же?")
print(list_1 is list_2)  # True
print(list_1, list_2)

list_1[0] = "новое значение"
print("Переменные list_1 и list_2 это одно и то же?")
print(list_1 is list_2)  # True
print(list_1, list_2)

Переменные list_1 и list_2 это одно и то же?
True
['а', 'б', 'в'] ['а', 'б', 'в']
Переменные list_1 и list_2 это одно и то же?
True
['новое значение', 'б', 'в'] ['новое значение', 'б', 'в']

Если попытаться изменить строку, которая является незменяемым типом данных,  
то появится ошибка
```python
str_ = "hello world"
str_[0] = "H"  # TypeError: 'str' object does not support item assignment
```



![https://app.diagrams.net/#G1QVcWw9KspgIBQ5TOqupm-1Ou-s06aOp0](https://drive.google.com/uc?id=1QVcWw9KspgIBQ5TOqupm-1Ou-s06aOp0)

![https://app.diagrams.net/#G1ixGfUnlDiqd8dHhgjr1mk5y2AwmKlEZS](https://drive.google.com/uc?id=1ixGfUnlDiqd8dHhgjr1mk5y2AwmKlEZS)

### Строки - `str`

Строки (**`str`**) – неизменяемая последовательность любых символов  
начинающаяся и заканчивающаяся или одинарной кавычкой (апострофом)(`'`)  
или двойной кавычкой(`"`).

```python
str_ = "Это строка"
```

```python
empty_str = ""  # пустая строка
```

Строки в Python можно записать с помощью 4 различных способов

In [ ]:
str_1 = 'test'
str_2 = "test"
str_3 = '''test'''
str_4 = """test"""

Тройные кавычки обычно используются для многострочных комментариев.

In [ ]:
print("""Это многострочные комментарии.
Они могут быть записаны в несколько строк :)
(масло масляное)
""")

Это многострочные комментарии.
Они могут быть записаны в несколько строк :)
(масло масляное)

In [ ]:
str_1 = "Hello, World"
print(len(str_1))  # длина строки

12

In [ ]:
str_1 = "Hello, World"
print(str_1[0])  # H
print(str_1[-1])  # d

H
d

In [ ]:
# строкам не важно записаны они одинарными или двойными кавычками
str_ = "Hello" + 'World'  # конкатенация строк

print(str_)

HelloWorld

In [ ]:
print("z" * 25)  # клонирование строки

zzzzzzzzzzzzzzzzzzzzzzzzz

##### ***Задача***

Дан текст. Найти длину этого текста.

In [ ]:
text = """Это очень-очень длинный текст :)"""

print("Размер текста =", len(text))

Размер текста = 32

### Списки - `list`

Список - изменяемая последовательность разнородных данных.

Объявление списка начитается с указания [ ... ]  
(квадратных скобок после оператора присваивания).


```python
list_ = [1, 2, 'Hello World', [3, 2, 1], ...]
```

Если необходимо сделать пустой список:
```python
empty_list = []
```

Списки способны одновременно хранить в себе различные типы данных.  
Но обычно предпочитают, чтобы списки хранили в себе данные одного типа.

In [ ]:
list_ = [1, 2, 3]  # Хорошо, все данные одного типа
print(list_, type(list_))

list_ = [1, 2, "3"]  # Ошибки не будет
print(list_, type(list_))

[1, 2, 3] <class 'list'>
[1, 2, '3'] <class 'list'>

In [ ]:
list_ = [1, 2, "3"]
print(list_)

list_[-1] = 3
print(list_)

[1, 2, '3']
[1, 2, 3]

Списки можно складывать

In [ ]:
print([1, 2, 3] + [3, 2, 1])

[1, 2, 3, 3, 2, 1]

Или умножать на какое-то число

In [ ]:
print([0] * 5)

[0, 0, 0, 0, 0]

##### ***Задача***

Студенты выполнили первое домашнее задание.  
Найти среднюю оценку за это домашнее задание.  

Результат округлить до двух знаков после запятой.

In [ ]:
grades = [4, 5, 4, 5, 5, 5, 3]  # список оценок

mean_grade = sum(grades) / len(grades)  # средняя оценка
print("Средняя оценка за первое домашнее задание,", round(mean_grade, 2))

Средняя оценка за первое домашнее задание, 4.43

### Кортеж - `tuple`

Кортеж, в отличии от списка является неизменяемым типом данных.

Чтобы создать кортеж, нужно записать данные в круглые скобки через запятую
```python
tuple_ = (1, 2, 3)
```

Если необходимо сделать пустой кортеж:
```python
empty_tuple = ()  # пустой кортеж
```

Если необходимо создать кортеж из одного элемента

In [ ]:
list_ = [1]
tuple_ = (1, )

print(list_, type(list_))
print(tuple_, type(tuple_))

[1] <class 'list'>
(1,) <class 'tuple'>

Кортежи в Python удобно использовать  
для массовой инициализации переменных.

В python существует множественное присвоение.  
Главное правило, чтобы количество значений справа  
было равно количеству переменных слева.  
```python
# Ошибка. Справа не хватает значений для множественного присвоения
a, b = 1  # TypeError: cannot unpack non-iterable int object
```

In [ ]:
a, b = 1, 2  # правильно
print(a, b)

1 2

In [ ]:
tuple_vars = 1, 2  # тоже правильно, есть одно "но", значения будут помещены в кортеж
print(tuple_vars, type(tuple_vars))

(1, 2) <class 'tuple'>

##### ***Задача***
Поменять местами значение двух переменных.

В Python множественное присвоение можно использовать,  
если вы хотите поменять значения двух переменных местами.

In [ ]:
first_value, second_value = "first_value", "second_value"
print(first_value, second_value)

print("Меняем местами переменные...")
first_value, second_value = second_value, first_value

print(first_value, second_value)

first_value second_value
Меняем местами переменные...
second_value first_value

### Множества - `set`

Множество в python - "контейнер", содержащий  
**не повторяющиеся хешируемые** элементы в **случайном порядке**.

Объявление множества начитается с указания `{ ... }`  
(фигурных скобок после оператора присваивания обязательно с содержимым) или  
встроенной команды **`set`**.


```python
set_ = {1, 2, 'Hello World', ...}
```

Если необходимо сделать пустое множество:
```python
empty_set = set()
```

In [ ]:
set_ = {3, 2, 3, 3, 2, 1}
print(set_, type(set_))  # {1, 2, 3} <class 'set'>

{1, 2, 3} <class 'set'>

In [ ]:
print({2, 'Hello World', 1})

{1, 2, 'Hello World'}

#### Хешируемые значения

Объект является хешируемым, если от него работает встроенная функция `hash`.  

Большинство неизменяемых типов в Python (`int`, `float`, `str`, `bool`, и т.д.) – хешируемые.  
Неизменяемые коллекции, например `tuple`, являются хешируемыми,  
если хешируемы все их элементы.

```python
{2, 'Hello World', 1}  # OK
```
```python
# списк - не хешируемый
{[1, 2, 3]}  # TypeError: unhashable type: 'list'
```
```python
# кортеж со списком внутри - не хешируемый
{(1, [2], 3)}  # TypeError: unhashable type: 'list'
```

In [ ]:
print(hash("sdkfjsdkjfnksjdnfkjsdnfkjsndfkjsndfkjsndfkjsnd"))
print(hash("sdkfjsdkjfnksjdnfkjsdnfk"))

1131613609502951194
2835324861408118341

##### ***Задача***
Даны оценки за домашнее задание.  
Найти все уникальные оценки.

In [ ]:
unique_grades = {4, 5, 4, 5, 5, 5, 3}  # множество оценок
print(unique_grades)

{3, 4, 5}

### Словари - `dict`

**Словарь** – изменяемый тип данных,  
предназначенный для хранения элементов вида **ключ: значение**.

Все ключи в словаре должны быть **уникальными**.  
Также в словаре значение может быть любого типа,  
а вот ключ — только **хешируемого**.

![list_vs_dict](https://d1zx6djv3kb1v7.cloudfront.net/wp-content/media/2020/05/Append-a-Dictionary-to-a-list-in-Python-5-i2tutorials-1024x427.jpg)

**Примечание:**  
Начиная с версии Python 3.7 словари (в отличии от множеств)  
стали сохранять порядок добавления элементов в словарь.

In [ ]:
months = {
    1: "Январь",
    2: "Февраль",
    3: "Март"
}
print(months, type(months))

{1: 'Январь', 2: 'Февраль', 3: 'Март'} <class 'dict'>

In [ ]:
# получить название первого месяца
print(months[1])

Январь

In [ ]:
user = {
    "Имя": "Вася",
    "Фамилия": "Пупкин",
    "email": "test@yandex.ru",
    "Возраст": 18,
}

print(user)

{'Имя': 'Вася', 'Фамилия': 'Пупкин', 'email': 'test@yandex.ru', 'Возраст': 18}

In [ ]:
# Вася позврослел
user["Возраст"] += 1  # user["Возраст"] = user["Возраст"] + 1
print(user)

{'Имя': 'Вася', 'Фамилия': 'Пупкин', 'email': 'test@yandex.ru', 'Возраст': 19}

##### ***Задача***
Дан список оценок.  
Составить словарь, сколько человек получили каждую из оценок.

In [ ]:
grades = [
    3,
    4, 4,
    5, 5, 5, 5
]

# словарь с оценками, где по ключу находится оценка, а по значению количество
dict_graders = {
    3: 1,
    4: 2,
    5: 4
}

print(dict_graders)

{3: 1, 4: 2, 5: 4}